@model IEnumerable<CreativeSite.Models.Chapter> 
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="~/Content/Chapters.css" rel="stylesheet">
<script src="~/Scripts/chapters-menu.js"></script>
<!--<nav id="chapters-navigation">

    <<ul id="chapters">
    @{ int i = 1;}
    @foreach (var chapter in Model)
    {
        <li>
            <div>@i</div>
            <div>
                @Html.ActionLink(chapter.Title, "Details", "Chapters", htmlAttributes: new { }, routeValues: new { id = chapter.Id })
            </div>
        </li>
        i++;
    }
</ul>
</nav>
    -->
<style>
    .panel-collapse {
        background-color: rgb(224, 224, 224);
    }

    .chapter-content {
        padding: 10px;
        color: black;
    }
</style>

<p>
    @Html.ActionLink("Create New", "Create", routeValues: new { creativeId = ViewBag.CreativeId})
</p>

<div class="panel-group" id="accordion">
    @{ int index = 1;}
    @foreach (var item in Model)
    {
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@index">@item.Title</a>
                </h4>
            </div>
            <div id="@index" class="panel-collapse collapse ">
                <div class="panel-body">
                    <div class="chapter-content">
                          @Html.Raw(item.Content)
                    </div>
                </div>
            </div>
        </div>
        index++;
    }
</div>
